<div>
    <select #mySelect [(ngModel)]="value">
        <option value="Select category" [selected]="true">Select category</option>
        <option value="Category 1">Category 1</option>
        <option value="Category 2">Category 2</option>
        <option value="Category 3">Category 3</option>
    </select>
</div>
<my-setter></my-setter>
<table class="table table-stripped">
    <ng-container *ngFor="let item of products; let i = index">
        <tr [ngClass]="{'row-red': item.price > 500}" *ngIf="i < rowsAmount && item.show && item.category === mySelect.value">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.category }}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="removeRow(item)">Delete {{ item.name }}</button>
            </td>
        </tr>
    </ng-container>
</table>