<div>
    <label>
        Product ID
        <input type="number" [(ngModel)]="product.id">
    </label>
</div>
<div>
    <label>
        Product name
        <input type="text" [(ngModel)]="product.name">
    </label>
</div>
<div>
    <label>
        Product price
        <input type="number" [(ngModel)]="product.price">
    </label>
</div>
<div>
    <label>
        Product category
        <select [(ngModel)]="product.category">
            <option value="Category 1">Category 1</option>
            <option value="Category 2">Category 2</option>
            <option value="Category 3">Category 3</option>
        </select>
    </label>
</div>
<div>
    <label>
        Product show
        <input type="checkbox" [(ngModel)]="product.show">
    </label>
</div>
<button type="button" class="btn btn-primary" (click)="addProduct()">Add product</button>