<div>
    <label>
        Product ID
        <input type="text" [(ngModel)]="product.id">
    </label>
</div>
<div>
    <label>
        Product name
        <input type="text" [(ngModel)]="product.name">
    </label>
</div>
<div>
    <label>
        Product price
        <input type="text" [(ngModel)]="product.price">
    </label>
</div>
<div>
    <!-- use select here -->
    <label>
        Product category
        <input type="text" [(ngModel)]="product.category">
    </label>
</div>
<div>
    <!-- use checkbox here -->
    <label>
        Product show
        <input type="text" [(ngModel)]="product.show">
    </label>
</div>