<div>
    <label>
        Product ID
        <input type="text" [(ngModel)]="value">
    </label>
</div>
<div>
    <label>
        Product name
        <input type="text" [(ngModel)]="value">
    </label>
</div>
<div>
    <label>
        Product price
        <input type="text" [(ngModel)]="value">
    </label>
</div>
<div>
    <label>
        Product category
        <input type="text" [(ngModel)]="value">
    </label>
</div>
<div>
    <label>
        Product show
        <input type="text" [(ngModel)]="value">
    </label>
</div>